.a_main11 {
  /* padding: 0 10px 0; */
  /* background-color: rgb(102, 102, 102); */
  position: relative;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}
.a_main2 {
  width: 97%;
  height: 4564px;
  border: 1px dashed red;
  background-color: #8e8e8e57;
  z-index: 1;
  position: absolute;
  top: -380px;
  left: 20px;
}
