.a_main11 {
  /* background-color: rgb(102, 102, 102); */
  position: relative;
}
.a_main2 {
  width: 97%;
  height: 4564px;
  border: 1px dashed red;
  background-color: #8e8e8e57;
  z-index: 1;
  position: absolute;
  /* top: -380px; */
  top: 60%;
  left: 50%;
  transform: translate(-50%, -8%);
}
