header {
  height: 118px;
  border: 1px solid brown;
  background-color: #131921;
}
.a_main {
  height: 7588px;
  border: 1px solid blue;
  background-color: #e3e6e6;
}
footer {
  height: 954px;
  border: 1px dashed green;
  background-color: #131921;
}
